<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>v-model结合checkbox类型使用</title>
</head>
<body>

  <div id="app">
    <label for="agreement">
      <input type="checkbox" id="agreement" v-model="isAgreement">同意协议
    </label>
    <button :disabled="!isAgreement">下一步</button>
    <h2>你选择的是：{{isAgreement}}</h2>
    <br /><br /><br />

    <label for="">
      <input type="checkbox" value="篮球" v-model="hobbies">篮球
      <input type="checkbox" value="足球" v-model="hobbies">足球
      <input type="checkbox" value="排球" v-model="hobbies">排球
      <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
      <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
    </label>
    <h2>你选择爱好的是：{{hobbies}}</h2>

  </div>

  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        isAgreement: false,
        hobbies: []
      }
    })
  </script>
</body>
</html>